:root {
    --primary-color: #EE4D2D;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --star-gold-color:#ffce3d;
    --sale-color: rgb(253, 215, 58);
    --hover-color: rgb(238, 238, 238);
    --border-color: #dbdbdb;
    --navbar-height: 34px;
    --header-height:120px;
    --header-with-search-height: calc(var(--header-height) - var(--navbar-height));
}

* {
    box-sizing: inherit;
    
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.mr-8 {
    margin-right: 8px;
}

/* Responsive */
.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

/* Test */

.grid__column-2 {
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}

.grid__column-3 {
    padding-left: 5px;
    padding-right: 5px;
    width: 33.3334%;  
}

.grid__column-2-in-10 {
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;  
}

.grid__column-10 {
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3334%;    
}
/* Animation */

@keyframes fadeIn {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

@keyframes  growUp {
    from {
        opacity: 0;
        transform: scale(0);
    } to {
        opacity: 1;
        transform: scale(1);
    }
}

/* Modal */

.modal {
    position: fixed;
    top:0 ;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    display: none;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    animation: fadeIn linear 0.2s;
}

.modal__body {
    --growth-form: 0.7;
    --growth-to: 1;
    margin: auto;
    position: relative;
    z-index: 1;
    animation: growUp linear 0.2s;
}


/*Button style*/

.btn {
    min-width: 142px;
    height: 36px;
    text-decoration: none;
    border: none;
    border-radius: 3px;
    font-size: 1.3rem;
    outline: none;
    cursor: pointer;
    color: var(--text-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white-color);
    line-height: 1.6rem;
}

.btn.btn--normal:hover {
    background-color: rgba(0,0,0,0.1);
}

.btn.btn--primary {
    color: var(--white-color);
    background-color: var(--primary-color);
}

.btn.btn--disabled {
    color: #ccc;
    cursor: default;
    filter: brightness(80%);
    background-color: #c3c3c3;
}

.btn.btn--size-s {
    height: 30px;
    font-size: 1.2rem;
    padding: 0 8px;
}

.btn.btn--size-s-of-s {
    width: 60px;
}

.select-input {
    background-color: var(--white-color);
    min-width: 188px;
    padding: 0 12px;
    height: 36px;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    box-shadow: 0 1px 1px #ccc;
}

.select-input__lable {
    font-size: 1.4rem;
}

.select-input__icon {
    font-size: 2rem;
}

.select-input__list {
    position: absolute;
    top: calc(100% - 6px);
    left: 0;
    width: 100%;
    list-style: none;
    background-color: var(--white-color);
    border-radius: 3px;
    box-shadow: 0 1px 3px #ccc;
    padding:4px 0;
    display: none;
    animation: fadeIn ease 0.2s;
    z-index: 1;
}

.select-input__list::before {
    content: "";
    width: 100%;
    height: 20px;
    position: absolute;
    top: -15px;
    right: 0;
}

.select-input__link {
    list-style: none;
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    display: block;
    padding: 12px 12px;
}

.select-input__link:hover {
    color: var(--primary-color);
}

/* pagination */

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    text-align: center;
}

.pagination-item {
    margin: 0 8px;
}

.pagination-item--active .pagination-item__link {
    color: white;
    background-color: var(--primary-color);
}

.pagination-item--active:hover .pagination-item__link {
    opacity: 0.8;
}

.pagination-item__link {
    --height: 30px;
    display: block;
    text-decoration: none;
    font-size: 2rem;
    color: #a09999;
    min-width: 40px;
    height: var(--height);
    line-height: var(--height);
    text-align: center;
    border-radius: 3px; 
}

.pagination-item__icon {
    font-size: 2.6rem;
}